h1{
    text-align: center;


}


h2 {
    background-color:rgba(247, 247, 0, 0.24);
    text-align: center;
    margin: 60px auto  30px auto

}

h3{
    background-color: rgba(248, 43, 43, 0.178);
    border-radius: 20%;
    text-align: center;
    margin: 70px auto 25px auto
}

img {
    height: auto;
    width: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba(219, 206, 187, 0.753);   
}

p {
    text-indent: 2%;
}

li .inside {
    font-style: italic;
}